.correo
{text-align: center; border-radius: 4px;width: 240px;height: 30px; text-align: left; border-color: grey;margin: 3px; }


.button{background-color:rgb(6, 143, 255); color: white; height: 30px; border-radius: 7px; width: 248px;}

.p1{color:rgb(33, 159, 218);text-align: right;}

.sesion{background-color: deepskyblue; color: white; border-radius:7px; height: 30px; width: 248px;border-color: white}

*{text-align: center; font-family:Arial, Helvetica, sans-serif; font-size: 15px;}

.Registrate{color: rgb(33, 159, 218);}

.ig{height: 95px;}

.no-tienes{grid-area: no-tienes;}
.sesion{grid-area: sesion;}
.no-tienes .sesion{display: grid; grid-template-areas: "sesion"
                                         "no-tienes";}



.textos{width: 250px;
    align-content: center;
    margin: auto 18.7%;}



.menú-ing{position: absolute; bottom: 0px;}
.menú-ig {width: 100%; height: auto;}

